/*****************************************************************************/
/* Contact: Style */
/*****************************************************************************/
#contact button:focus,
#contact button:active{
  outline: none;
}

//bugfix setting textarea to fixed height because input group with input-group-lg does not sizes textarea properly, dirty and not working 100% when windows is rezised 
.custom-control {
  min-height: 212px !important;
}

#contact textarea {
  min-height: 212px !important;
}

#contact .form-group {
  padding-bottom : 15px;
}